.wrapper {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 5px;
}

.loading-container {
    text-align: center;
}

.list-posts {
    width: 100%;
}

.user-id {
    width: 100%;
    display: flex;
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.action-col {
    text-align: center;
    width: 120px;
}

.id-col {
    text-align: center;
}

.choice-col {
    background-color: none
}