    .posts-container {
        width: 100%;
        max-width: 1200px;
        box-sizing: border-box;
        padding: 5px;
    }
    
    .posts-list {
        width: 100%;
    }
    
    .header-user-name {
        font-weight: 400;
    }