.comments-container {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 5px;
}

.loading-comments {
    width: 100%;
}

.comment-container {
    max-width: 1200px;
}

.header-comment-id {
    width: 100px;
}

.header-comment-name,
.header-comment-body {
    width: 100px;
}