.app {
    display: flex;
    width: 100%;
    padding: 5px 5px 5px 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu {
    position: fixed;
    top: 0px;
    left: 0;
    width: 49px;
    height: 100%;
    padding: 4px;
    align-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid rgb(155, 155, 155);
}

.disabled-link {
    pointer-events: none;
}

@media (max-width: 991px) {
    .app .btn-back-users {
        font-size: 0.9em;
    }
}

@media (max-width: 767px) {
    .app {
        padding: 3px 3px 3px 43px;
    }
    .app .menu {
        width: 39px;
        padding: 2px
    }
    .app .btn-back-users {
        font-size: 0.8rem;
    }
}

@media (max-width: 575px) {
    .app {
        padding: 3px 3px 3px 39px;
    }
    .app .menu {
        width: 35px;
        padding: 2px
    }
    .app .btn-back-users {
        font-size: 0.8rem;
    }
}