.users-container {
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 5px;
    /* white-space: nowrap; */
}

.header-users-action {
    width: 120px;
}

.header-users-id {
    width: 50px;
}

.header-users-choice {
    background-color: none;
    width: 50px;
}

@media (max-width: 1199px) {
    .users-container {
        max-width: 1149px;
    }
}

@media (max-width: 991px) {
    .users-container {
        max-width: 941px;
    }
    .users-container .btn-show-posts {
        font-size: 0.9rem;
    }
}

@media (max-width: 767px) {
    .users-container {
        max-width: 717px;
        font-size: 0.8rem;
    }
    .users-container .btn-show-posts {
        font-size: 0.8rem;
    }
}

@media (max-width: 575px) {
    .users-container {
        max-width: 525px;
    }
}

@media (max-width: 480px) {
    .users-container {
        max-width: 480px;
    }
}

@media (max-width: 320px) {
    .users-container {
        max-width: 100%;
    }
}