.pangination-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-container {
    text-align: center;
}

.list-users {
    width: 100%;
    max-width: 1200px;
}